<!DOCTYPE html>
<html>
<head>
    <title>World Clocks</title>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <!-- This app's includes -->
    <link href="../static/css/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="../static/js/index.js"></script>
    <!-- End apps includes -->
</head>
<body>

    <section id="section1">
        <div id = content class="centered">
            <div id="location1" class="location" >Berlin</div>
            <div id="day1" class="day" ></div>
            <div id="date1" class="date">
                <p id="date_text1" class="date_text"></p>
            </div>
            <div id='clock1' class = "clock" ></div>
        </div>
    </section>



    <section id="section2">
         <div id = content class="centered">
            <div id="location2" class="location" >New York</div>
            <div id="day2" class="day" ></div>
            <div id="date2" class="date">
                <p id="date_text2" class="date_text"></p>
            </div>
            <div id='clock2' class = "clock" ></div>
        </div>
    </section>


    <section id="section3">
        <div id = content class="centered">
            <div id="location3" class="location" >Tokyo</div>
            <div id="day3" class="day" ></div>
            <div id="date4" class="date">
                <p id="date_text3" class="date_text"></p>
            </div>
            <div id='clock3' class = "clock" ></div>
        </div>
    </section>

    <section id="section4">
        <div id = content class="centered">
            <div id="location4" class="location" >Sydney</div>
            <div id="day4" class="day" ></div>
            <div id="date4" class="date">
                <p id="date_text4" class="date_text"></p>
            </div>
            <div id='clock4' class = "clock" ></div>
        </div>
    </section>

</body>
</html>
